<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


  <%# <% if current_user.present? %>
  <%#= current_user&.email %>
  <%# end %> %>
<div id=”user_nav”>
  <% if current_user.present? %>
  Signed in as <%= current_user.email %>. This cannot be cheese?
  <%= link_to 'Sign out', logout_path, :method => :delete %>
  <% else %>
  <%= link_to 'Register', sign_up_path %> or <%= link_to 'Sign in', log_in_path %>
  <% end %>

    <%= yield %>
  </body>
</html>
